{% extends "base.html" %}
{% load static %}

{% block title %}
  Calendar - YamTrack
{% endblock title %}

{% block content %}
  <div class="mb-7">
    <h1 class="yt-page-title">Calendar</h1>
    <p class="yt-page-subtitle">Track upcoming releases from your list.</p>
  </div>

  <div class="yt-container-light p-5 mb-6">
    <div class="flex flex-col sm:flex-row justify-between items-center mb-6 gap-4">
      <div class="flex items-center gap-4">
        <div class="flex items-center">
          <a class="yt-button !py-2.5 !rounded-r-none !px-2 !border-r-0"
             href="{% url 'calendar' %}?month={{ prev_month }}&year={{ prev_year }}&view={{ view_type }}">
            {% include "app/icons/chevron-left.svg" with classes="w-5 h-5" %}
          </a>
          <h2 class="px-4 py-1.5 border-t border-b bg-gray-700 border-gray-500 text-lg font-semibold min-w-40 text-center">
            {{ month_name }} {{ year }}
          </h2>
          <a class="yt-button !py-2.5 !rounded-l-none !px-2 !border-l-0"
             href="{% url 'calendar' %}?month={{ next_month }}&year={{ next_year }}&view={{ view_type }}">
            {% include "app/icons/chevron-right.svg" with classes="w-5 h-5" %}
          </a>
        </div>
      </div>

      <div class="flex items-center gap-2">
        <a class="yt-button"
           href="{% url 'calendar' %}?month={{ today.month }}&year={{ today.year }}&view={{ view_type }}">Today</a>

        <form method="post" action="{% url 'reload_calendar' %}">
          {% csrf_token %}
          <button class="yt-button flex items-center gap-2">
            {% include "app/icons/circle-spinning-clockwise.svg" with classes="w-4 h-4" %}
            <span>Fetch New Releases</span>
          </button>
        </form>

        <div class="flex rounded-md overflow-hidden">
          <a class="!py-2.5 !rounded-r-none !px-3 {% if view_type == 'grid' %}yt-button-primary z-2{% else %}yt-button -mr-px{% endif %}"
             href="{% url 'calendar' %}?month={{ month }}&year={{ year }}&view=grid">
            {% include "app/icons/grid.svg" with classes="w-5 h-5" %}
          </a>
          <a class="!pt-2.5 !rounded-l-none !px-3 {% if view_type == 'list' %}yt-button-primary z-2{% else %}yt-button -ml-px{% endif %}"
             href="{% url 'calendar' %}?month={{ month }}&year={{ year }}&view=list">
            {% include "app/icons/list.svg" with classes="w-5 h-5" %}
          </a>
        </div>

        <a class="yt-button !py-2.5 !px-3"
           href="{% url 'download_calendar' token=user.token %}">
          {% include "app/icons/download.svg" with classes="w-5 h-5" %}
        </a>
      </div>
    </div>

    {% if view_type == 'grid' %}
      {% include "events/components/calendar_grid.html" %}
    {% else %}
      {% include "events/components/calendar_list.html" %}
    {% endif %}
  </div>

  <div class="yt-container-light p-5 mb-6">
    <div class="flex items-center mb-3">
      {% include "app/icons/link.svg" with classes="w-5 h-5 text-indigo-400 mr-2" %}
      <h3 class="text-base font-medium">Export link</h3>
    </div>
    <p class="text-gray-400 mb-4 text-sm">
      This link can be used to integrate your calendar into any of your calendar applications.
    </p>
    <div class="mb-4">
      <input readonly=""
             class="yt-input w-full font-mono"
             type="text"
             value="{{ request.scheme }}://{{ request.get_host }}{% url 'download_calendar' token=user.token %}">
    </div>
  </div>
{% endblock content %}
