{% extends "base.html" %}
{% load app_tags %}

{% block title %}
  Search - Yamtrack
{% endblock title %}

{% block content %}
  <h1 class="yt-page-title">Search Results</h1>

  <div class="flex flex-col md:flex-row items-start md:items-center justify-between mb-8 gap-y-4">
    <div class="flex items-center">
      <span class="text-gray-300 mr-4">Source:</span>
      <div class="flex gap-x-2">
        {% with source_options=media_type|sources %}
          {% for source_option in source_options %}
            <a href="{% url 'search' %}?q={{ request.GET.q|urlencode }}&media_type={{ media_type }}&source={{ source_option.value }}&layout={{ layout }}"
               class="flex items-center {% if source == source_option.value %}yt-button-primary{% else %}yt-button{% endif %}">
              {{ source_option.label }}
            </a>
          {% endfor %}
        {% endwith %}
      </div>
    </div>
    <!-- Layout Toggle -->
    <div class="flex items-center rounded-md overflow-hidden">
      <a href="?q={{ request.GET.q|urlencode }}&media_type={{ media_type }}{% if source %}&source={{ source }}{% endif %}&layout=grid"
         class="{% if layout == 'grid' %}yt-button-primary z-2{% else %}yt-button -mr-px{% endif %} !pt-2.5 !rounded-r-none !px-3"
         title="Grid View">{% include "app/icons/four-square.svg" with classes="w-5 h-5" %}</a>
      <a href="?q={{ request.GET.q|urlencode }}&media_type={{ media_type }}{% if source %}&source={{ source }}{% endif %}&layout=list"
         class="{% if layout == 'list' %}yt-button-primary z-2{% else %}yt-button -ml-px{% endif %} !pt-2.5 !rounded-l-none !px-3"
         title="List View">{% include "app/icons/list.svg" with classes="w-5 h-5" %}</a>
    </div>
  </div>

  <div id="search-results"
       class="media-grid"
       hx-get="{% url 'search_results' %}?q={{ query|urlencode }}&media_type={{ media_type }}&source={{ source }}&page=1"
       hx-trigger="load"
       hx-indicator="#loading-indicator">
    <!-- Results loaded via HTMX -->
  </div>

  <div id="loading-indicator" class="htmx-indicator text-center pt-8">
    <div class="inline-flex justify-center items-center">
      <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-purple-400"></div>
    </div>
  </div>

{% endblock content %}
