{% if has_item %}
  <button hx-post="{% url 'list_item_toggle' %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-vals='{"custom_list_id": "{{ custom_list.id }}", "item_id": "{{ item.id }}"}'
          hx-swap="outerHTML"
          class="yt-button-delete !py-1">Remove</button>
{% else %}
  <button hx-post="{% url 'list_item_toggle' %}"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-vals='{"custom_list_id": "{{ custom_list.id }}", "item_id": "{{ item.id }}"}'
          hx-swap="outerHTML"
          class="yt-button-list !py-1">Add</button>
{% endif %}
