{% load app_tags %}

<div class="bg-gray-800 bg-cover rounded-xl overflow-hidden shadow relative group transition duration-300 ring-1 ring-gray-700 hover:shadow-lg hover:ring-gray-500 focus:shadow-lg focus:ring-gray-500">
  <div class="relative">
    <a href="https://www.themoviedb.org/person/{{ cast.id }}"
       target="_blank">
      <img alt="{{ cast.name }}"
           class="lazyload w-full aspect-2/3 {% if cast.image != IMG_NONE %}object-cover{% endif %}"
           data-src="{{ cast.image }}"
           src="{{ IMG_NONE }}">
    </a>

    <div class="absolute inset-0 bg-gradient-to-b from-gray-800/40 to-gray-800/90 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-200">
      <a href="https://www.themoviedb.org/person/{{ cast.id }}"
         target="_blank"
         class="absolute top-2 right-2 p-2.5 border bg-zinc-600/80 border-zinc-500 hover:bg-zinc-600/100 hover:border-zinc-500 active:bg-zinc-700 active:border-zinc-700 focus:ring-zinc text-white rounded-full transition-all duration-200">
        {% include "app/icons/external-link.svg" with classes="w-5 h-5" %}
      </a>

      <div class="absolute left-0 right-0 bottom-0 p-3">
        <div class="text-sm font-semibold text-white line-clamp-1"
             title="{{ cast.name }}">{{ cast.name }}</div>
        <div class="text-xs text-gray-400 line-clamp-1 mt-1"
             title="{{ cast.character }}">{{ cast.character }}</div>
      </div>
    </div>
  </div>
</div>
