{% load app_tags %}

<div class="relative cursor-default overflow-hidden rounded-xl bg-gray-800 bg-cover outline-none ring-1 transition duration-300 shadow ring-gray-700 hover:shadow-lg hover:ring-gray-500 focus:shadow-lg focus:ring-gray-500"
     x-data="{ trackOpen: false, listsOpen: false, historyOpen: false }">
  <div class="relative">
    <a href="{{ item|media_url }}">
      <img alt="{{ title }}"
           class="lazyload w-full aspect-2/3 bg-[#3e454d] {% if item.image != IMG_NONE %}object-cover{% endif %}"
           data-src="{{ item.image }}"
           src="{{ IMG_NONE }}">
    </a>

    <div class="absolute left-0 right-0 top-0 flex items-center justify-between p-2">
      {% if media.status %}
        {% if media.status == Status.COMPLETED.value %}
          <div class="pointer-events-none z-40 self-start rounded-full border shadow-md border-emerald-700 bg-emerald-800/90">
            <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
              <div class="w-4 h-4 text-emerald-100">{% include "app/icons/states/completed.svg" %}</div>
            </div>
          </div>

        {% elif media.status == Status.IN_PROGRESS.value %}
          <div class="pointer-events-none z-40 self-start rounded-full border shadow-md border-indigo-700 bg-indigo-800/90">
            <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
              <div class="w-4 h-4 text-indigo-100">{% include "app/icons/states/in-progress.svg" %}</div>
            </div>
          </div>

        {% elif media.status == Status.PAUSED.value %}
          <div class="pointer-events-none z-40 self-start rounded-full border shadow-md border-orange-700 bg-orange-800/90">
            <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
              <div class="w-4 h-4 text-orange-100">{% include "app/icons/states/paused.svg" %}</div>
            </div>
          </div>

        {% elif media.status == Status.PLANNING.value %}
          <div class="pointer-events-none z-40 self-start rounded-full border shadow-md border-sky-700 bg-sky-800/90">
            <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
              <div class="w-4 h-4 text-sky-100">{% include "app/icons/states/planning.svg" %}</div>
            </div>
          </div>

        {% elif media.status == Status.DROPPED.value %}
          <div class="pointer-events-none z-40 self-start rounded-full border shadow-md border-red-700 bg-red-800/90">
            <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
              <div class="w-4 h-4 text-red-100">{% include "app/icons/states/dropped.svg" %}</div>
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if media.score|show_media_score:user %}
        <div class="pointer-events-none z-40 self-end rounded-full border shadow-md border-yellow-500 bg-yellow-600/90">
          <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
            <span class="text-yellow-100">{{ media.formatted_score }}</span>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="absolute left-0 right-0 bottom-0 flex items-center justify-between p-2">
      {% if media.progress and media_type != MediaTypes.MOVIE.value %}
        <div class="pointer-events-none self-start rounded-full border shadow-md border-gray-800 bg-gray-900/90">
          <div class="flex h-4 items-center px-2 py-2 text-center text-xs tracking-wider sm:h-5">
            <span class="text-gray-100">
              {{ media.formatted_progress }}
              {% if media.max_progress %}/ {{ media.max_progress }}{% endif %}
            </span>
          </div>
        </div>
      {% else %}
        <div>&nbsp;</div>
      {% endif %}

      {% if media.repeats > 1 %}
        <div class="pointer-events-none self-end rounded-full border shadow-md border-gray-800 bg-gray-900/90">
          <div class="flex h-4 items-center px-2 py-2 text-center text-xs uppercase tracking-wider sm:h-5">
            {% include "app/icons/repeat.svg" with classes="w-4 h-4 text-gray-100 mr-1" %}
            <span class="text-gray-100">{{ media.repeats }}</span>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="absolute inset-0 bg-gradient-to-b from-gray-800/40 to-gray-800/90 flex items-center justify-center transition-opacity opacity-0 hover:opacity-100 active:opacity-100{% if user.clickable_media_cards %} pointer-coarse:hidden{% endif %}">
      <a href="{{ item|media_url }}" class="absolute inset-0"></a>

      <div class="relative flex items-center justify-center space-x-2.5">
        {% if item.media_type == MediaTypes.EPISODE.value %}
          <button @click="trackOpen = true"
                  class="p-2.5 border bg-indigo-600/80 border-indigo-500 hover:bg-indigo-600/100 hover:border-indigo-500 active:bg-indigo-700 active:border-indigo-700 focus:ring-blue text-white rounded-full transition duration-150 ease-in-out cursor-pointer">
            {% if media %}
              {% include "app/icons/eye.svg" with classes="w-4 h-4" %}
            {% else %}
              {% include "app/icons/eye-closed.svg" with classes="w-4 h-4" %}
            {% endif %}
          </button>
        {% else %}
          {# Track Button #}
          <button class="p-2.5 border bg-indigo-600/80 border-indigo-500 hover:bg-indigo-600/100 hover:border-indigo-500 active:bg-indigo-700 active:border-indigo-700 focus:ring-blue text-white rounded-full transition duration-150 ease-in-out cursor-pointer"
                  title="Add to tracker"
                  hx-get="{% media_view_url 'track_modal' item %}"
                  hx-vals='{"return_url": "{{ request.get_full_path|urlencode }}", "instance_id": "{{ media.id }}"}'
                  hx-target="#{% component_id 'track' item media.id %}"
                  hx-trigger="click once"
                  @click="trackOpen = true">{% include "app/icons/edit.svg" with classes="w-4 h-4" %}</button>
        {% endif %}

        {# Lists Button #}
        <button class="p-2.5 border bg-teal-600/80 border-teal-500 hover:bg-teal-600/100 hover:border-teal-500 active:bg-teal-700 active:border-teal-700 focus:ring-teal text-white rounded-full transition duration-150 ease-in-out cursor-pointer"
                title="Add to custom lists"
                hx-get="{% media_view_url 'lists_modal' item %}"
                hx-vals='{"return_url": "{{ request.get_full_path|urlencode }}"}'
                hx-target="#{% component_id 'lists' item %}"
                hx-trigger="click once"
                @click="listsOpen = true">{% include "app/icons/list-add.svg" with classes="w-4 h-4" %}</button>

        {# History Button #}
        <button class="p-2.5 border bg-amber-600/80 border-amber-500 hover:bg-amber-600/100 hover:border-amber-500 active:bg-amber-700 active:border-amber-700 focus:ring-amber text-white rounded-full transition duration-150 ease-in-out cursor-pointer"
                title="View your activity history"
                hx-get="{% media_view_url 'history_modal' item %}"
                hx-vals='{"return_url": "{{ request.get_full_path|urlencode }}"}'
                hx-target="#{% component_id 'history' item %}"
                hx-trigger="click once"
                @click="historyOpen = true">{% include "app/icons/history.svg" with classes="w-4 h-4" %}</button>
      </div>

      <div class="absolute left-0 right-0 bottom-0 p-3 pb-10 text-md font-semibold text-white">
        <span>{{ title }}</span>
      </div>
    </div>

    {% if item.media_type == MediaTypes.EPISODE.value %}
      {% include "app/components/fill_track_episode.html" with request=request media=item episode=item episode_title=title csrf_token=csrf_token TRACK_TIME=TRACK_TIME only %}
    {% else %}
      {# Track Modal #}
      <div x-show="trackOpen"
           @keydown.escape.window="trackOpen = false"
           class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
        <div class="w-152 max-h-[90vh] px-4 md:px-0 relative z-60"
             @click.outside="trackOpen = false">
          <div id="{% component_id 'track' item media.id %}"></div>
        </div>
      </div>
    {% endif %}

    {# Lists Modal #}
    <div x-show="listsOpen"
         @keydown.escape.window="listsOpen = false"
         class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
      <div class="w-96 max-h-[90vh] px-4 md:px-0 relative z-60"
           @click.outside="listsOpen = false">
        <div id="{% component_id 'lists' item %}"></div>
      </div>
    </div>

    {# History Modal #}
    <div x-show="historyOpen"
         @keydown.escape.window="historyOpen = false"
         class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
      <div class="w-96 max-h-[90vh] px-4 md:px-0 relative z-60"
           @click.outside="historyOpen = false">
        <div id="{% component_id 'history' item %}"></div>
      </div>
    </div>
    {% include "app/components/progress_bar.html" with media=media user=user only %}
  </div>
</div>
